<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="scriptImports" type="xstring" value="// Your custom imports:%%00010"/>
<entry key="scriptFields" type="xstring" value="// Your custom variables:%%00010"/>
<entry key="scriptBody" type="xstring" value="%%00010out_url=v_domain+&quot;/api/&quot;+v_api_version+&quot;/search/&quot;+v_methodselection;%%00010out_queryType = &quot;ctab&quot;;%%00010%%00010out_maxBuildingBlocks = v_buildingblockinput;%%00010out_max_numberresults = v_numberresultsinput;%%00010%%00010"/>
<config key="jarFiles">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="outCols">
<entry key="array-size" type="xint" value="4"/>
<config key="0">
<entry key="Name" type="xstring" value="url"/>
<entry key="JavaName" type="xstring" value="out_url"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.StringCell$StringCellFactory.createCell(class java.lang.String)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="1">
<entry key="Name" type="xstring" value="queryType"/>
<entry key="JavaName" type="xstring" value="out_queryType"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.StringCell$StringCellFactory.createCell(class java.lang.String)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="2">
<entry key="Name" type="xstring" value="maxBuildingBlocks"/>
<entry key="JavaName" type="xstring" value="out_maxBuildingBlocks"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="3">
<entry key="Name" type="xstring" value="max_numberresults"/>
<entry key="JavaName" type="xstring" value="out_max_numberresults"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
</config>
<config key="outVars">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="inCols">
<entry key="array-size" type="xint" value="1"/>
<config key="0">
<entry key="Name" type="xstring" value="chemspace_molecule"/>
<entry key="JavaName" type="xstring" value="c_chemspace_molecule"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.chem.types.SdfAdapterCell"/>
<config key="adapter_classes">
<entry key="array-size" type="xint" value="5"/>
<entry key="0" type="xstring" value="org.knime.chem.types.SdfValue"/>
<entry key="1" type="xstring" value="org.knime.core.data.DataValue"/>
<entry key="2" type="xstring" value="org.knime.core.data.StringValue"/>
<entry key="3" type="xstring" value="org.knime.core.data.RWAdapterValue"/>
<entry key="4" type="xstring" value="org.knime.core.data.AdapterValue"/>
</config>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(DataValue,class java.lang.String,String (toString()))"/>
</config>
</config>
<config key="inVars">
<entry key="array-size" type="xint" value="5"/>
<config key="0">
<entry key="Name" type="xstring" value="api_version"/>
<entry key="JavaName" type="xstring" value="v_api_version"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<entry key="Type" type="xstring" value="STRING"/>
</config>
<config key="1">
<entry key="Name" type="xstring" value="domain"/>
<entry key="JavaName" type="xstring" value="v_domain"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<entry key="Type" type="xstring" value="STRING"/>
</config>
<config key="2">
<entry key="Name" type="xstring" value="method-selection"/>
<entry key="JavaName" type="xstring" value="v_methodselection"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<entry key="Type" type="xstring" value="STRING"/>
</config>
<config key="3">
<entry key="Name" type="xstring" value="building-block-input"/>
<entry key="JavaName" type="xstring" value="v_buildingblockinput"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<entry key="Type" type="xstring" value="INTEGER"/>
</config>
<config key="4">
<entry key="Name" type="xstring" value="number-results-input"/>
<entry key="JavaName" type="xstring" value="v_numberresultsinput"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<entry key="Type" type="xstring" value="INTEGER"/>
</config>
</config>
<entry key="version" type="xstring" value="version 1.x"/>
<entry key="templateUUID" type="xstring" isnull="true" value=""/>
<entry key="runOnExecute" type="xboolean" value="false"/>
<config key="bundles">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"/>
<entry key="node-name" type="xstring" value="Java Snippet"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.0.v202011191508"/>
<entry key="node-feature-name" type="xstring" value="KNIME Javasnippet"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.javasnippet.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.0.v202011191508"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Java Snippet"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
